body {
    background: rgb(43, 45, 61);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
    margin-left: 15px;
}

.photo {
    height: 150px;
    width: 150px;
    border: 2px solid #ec6dc2;
    border-radius: 0%;
    margin-top: 15px;
}

.title {
    font-size: 40px;
    text-transform: uppercase;
}

.bio_content {
    font-style: italic;
    border: 3px solid #ec6dc2;
    border-radius: 5px 10px;
    padding: 3px;
    color: rgb(79, 216, 250);
}

a {
    text-decoration: line-through;
    color: #505050;
}

#title,
.subtitle,
.post_title, h3 {
    color: #1ce075;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    padding: 15px;
    border: 3px solid #ec6dc2;
    margin-bottom: 15px;
    border-radius: 5px 10px;
}

.post_content h3 {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.contacts_list_yellow li, a {
    color: rgb(226, 226, 120);
    text-decoration: none;
    margin-bottom: 15px; 
}

.ingredientes {
    color: rgb(79, 216, 250);
}




  
